div>h1{
    font-weight: bolder;
    font-size: 100px;
    color: rgb(187, 97, 97);
    text-align: center;
    margin: 50px 0 0 30px;
}
#container{
    /* border : 2px solid red; */
    width: 70%;
    margin: 20px auto 20px auto;
    background-image: none;
    display: flex;
    
}
div{
    background-image:url("background.jpg") ;
    height: 700px;
    width: 50%;
    display: inline-block;
    border: 1px solid brown;
    text-align: left;
    padding: 10px;
    
}
#div2{
    background-image: none;
    width: 45%;
    float: right;
    font-size: large;
}
#submit{
    padding: 12px;
    background-color: blue;
    width: 100%;
    cursor: pointer;
}
